<!doctype html>
<html lang="en">
  <head>
  </head>
  <body>
    <div class="content-menu">
            {{#if deleted}}
            <div class="alert alert-primary" role="alert">
              Successfully deleted !!!
            </div>
            {{/if}}
      <form>
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered" id="table-kg">
              <h6>Kien Giang</h6>
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Họ Tên</th>
                  <th scope="col">Level</th>
                  <th scope="col">Email</th>
                  <th scope="col">ID</th>
                </tr>
              </thead>
              {{#each resources_kg}}
              <tbody>
                <tr>
                  <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="kg_customCheck{{@index}}" unchecked>
                        <label class="custom-control-label" for="kg_customCheck{{@index}}"></label>
                    </div>
                  </td>
                  <td>{{this.HoTen}}</td>
                  <td>{{this.Level}}</td>
                  <td>{{this.Email}}</td>
                  <td>{{this.Id}}</td>
                </tr>
              </tbody>
              {{/each}}
            </table>
            <table class="table table-bordered" id="table-la">
              <h6>Loc An</h6>
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Họ Tên</th>
                  <th scope="col">Level</th>
                  <th scope="col">Email</th>
                  <th scope="col">ID</th>
                </tr>
              </thead>
              {{#each resources_la}}
              <tbody>
                <tr>
                  <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="la_customCheck{{@index}}">
                        <label class="custom-control-label" for="la_customCheck{{@index}}"></label>
                    </div>
                  </td>
                  <td>{{this.HoTen}}</td>
                  <td>{{this.Level}}</td>
                  <td>{{this.Email}}</td>
                  <td>{{this.Id}}</td>
                </tr>
              </tbody>
              {{/each}}
            </table>
            <button id="delete-btn">Xóa người dùng</button>
          </div>
        </div>
      </form>
    <script src="/function/delete.js"></script>
    </div>
  </body>
</html>